<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="XXX">
		<meta name="keywords" content="XXX">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content=" black " />
		<meta name="format-detection" content="telephone=no" />
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<meta name="applicable-device" content="mobile">
		<title>提现-陆陆捌车主</title>
		<link href="../../favicon.ico" rel="shortcut icon">
		<link rel="stylesheet" href="../../css/m.debug.css">
		<script src="../../js/flexible.js"></script>
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
	</head>
	<style type="text/css">
		.widthdraw_btn {
			display: flex;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		
		.fade-enter-active,
		.fade-leave-active {
			left: 0;
			transition: all 0.25s ;
		}
		
		.fade-enter,
		.fade-leave-to {
			left:-100%
		}
	</style>

	<body style="background-color: #f2f3f4;">
		<div id="app">
			<header class="header">
				<a class='icon iconfont icon-arrow_right js_back' href="javascript:history.back();"></a>
				<h5>提现</h5>
			</header>

			<ul class="list_con box-size widthdraw_input wid_card">
				<li>
					<a href="javascript:;">
						<p>支付宝/微信账号</p>
						<input type="text" placeholder="请输入提现账号" v-model="phone">
					</a>
				</li>
			</ul>
			<ul class="list_con box-size widthdraw_input ">
				<li>
					<a href="javascript:;">
						<p>提现金额</p>
						<input type="text" placeholder="请输入提现金额" v-model="money">
					</a>
				</li>
				<li><span>本次可提现<em>{{allmoney}}</em>元,手续费:{{sxu}}</span>
					<a href="javascript:;" @click="allmone">全部提现</a>
				</li>
			</ul>
			<div class="widthdraw_btn">
				<a href="javascript:void(0);" class="js_withdraw" @click="alertboo">提现</a>
			</div>
			<transition name='fade'>
				<div class="dl-alert" v-show="alertshow" @click="alertboo">
					<div class="deposit-type">
						<div class="alert-main">
							请选择提现种类
						</div>
						<div class="alert-setting">
							<div @click="myajax(1)">
								支付宝
							</div>
							<div @click="myajax(3)">
								微信
							</div>
						</div>
					</div>
				</div>
			</transition>
		</div>

		<script src="../../js/common.min.js"></script>
		<script src="../../js/m.js"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					phone: '',
					money: '',
					allmoney: '',
					reflectPerCent: 0,
					alertshow:false
				},
				methods: {
					alertboo:function(){
						this.alertshow=!this.alertshow
					},
					myajax: function(type) {
						var that = this
						if(that.phone != '' && that.money != '') {
							if(localStorage.getItem('allmoney') >= parseFloat(that.money)) {
								$.ajax({
									type: "post",
									url: localStorage.getItem('myurl') + "/income/insertByLreflect",
									async: false,
									dataType: 'json',
									data: {
										driverId: localStorage.getItem('dirveid'),
										reflectPrice: that.money - that.money * (that.reflectPerCent / 100),
										reflectBank: that.phone,
										reflectCodeType: type,
										reflectStyle:1,
										reflectResult: '',
										moneyLimit: that.money * (that.reflectPerCent / 100)
									},
									success: function(res) {
										if(res.status == 200) {
											window.location.href = '../meau/my_wallet.html'
										} else {
											alert(res.msg)
										}
									}
								})
							} else {
								alert('您的账户余额不足')
							}
						} else {
							alert('提现账户和提现金额不能为空')
						}

					},
					allmone: function() {
						this.money = this.allmoney
					}
				},
				mounted: function() {
					var that = this
					$.ajax({
						type: "get",
						url: localStorage.getItem('myurl') + "/income/queryAllReflectRule",
						async: false,
						dataType: 'json',
						success: function(res) {
							that.reflectPerCent = res.data.reflectPerCent

						}
					})
				},
				computed: {
					sxu: function() {
						return this.money * (this.reflectPerCent / 100)
					}
				}
			})
		</script>
	</body>

</html>