<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="XXX">
		<meta name="keywords" content="XXX">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content=" black " />
		<meta name="format-detection" content="telephone=no" />
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<meta name="applicable-device" content="mobile">
		<title>登录-陆陆捌车主</title>
		<link href="favicon.ico" rel="shortcut icon">
		<link rel="stylesheet" href="css/m.debug.css">
		<script src="js/flexible.js"></script>
		<script src="js/bmob-min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body style="background-color:#fff;">
		<div class="user_layout" id="app">
			<section class="user_login">
				<div class="logo">
					<h5><img src="images/logo.jpg" alt="陆陆捌货到家"></h5>
				</div>
				<div class="loginBox">
					<div class="item box-size" v-show="pwdshow">
						<i class="icon iconfont icon-phone"></i>
						<input id="js_username" class="input_b username box-size" type="text" placeholder="手机号" v-model="phone" />
					</div>
					<div class="item box-size" v-show="!pwdshow">
						<i class="icon iconfont icon-pwd"></i>
						<input id="js_password" class="input_b password box-size" type="number" placeholder="请输入短信验证码" v-model="pwd" />
						<div class="new" @click="addcode">
							{{state}}
						</div>
					</div>
					<div class="item box-size">
						<div class="input_login" @click="myajax" style="text-align: center;" v-show="!pwdshow" />登录</div>
				</div>
				<div class="item box-size">
					<div class="input_login" @click="addcode" style="text-align: center;" v-show="pwdshow" />下一步</div>
		</div>
		</div>
		<p class="js_agree" @click="prev" v-show="!pwdshow">
			上一步
		</p>
		<a href="web/user/register.html" class="icon iconfont icon-arrow-right reg_driver">注册成为陆陆捌司机</a>
		</section>
		</div>
		<script src="js/common.min.js"></script>
		<script src="js/m.js"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					phone: '',
					code: '',
					state: 60,
					pwd: '',
					pwdshow: true
				},
				mounted: function() {
					localStorage.setItem('myurl', 'http://39.107.70.18/Transportation')
				},
				methods: {
					prev: function() {
						this.phone == this.code == this.pwd == ''
					},
					addcode: function() {
						if(this.phone == 'ceshihao') {
							var that = this
							$.ajax({
								type: "get",
								url: localStorage.getItem('myurl') + "/queryLoginDriverByPhone",
								async: false,
								dataType: 'json',
								data: {
									driverPhone: that.phone
								},
								success: function(res) {
									if(res.status == '200') {
										localStorage.setItem('dirveid', res.data.driverId)
										localStorage.setItem('driverName', res.data.driverName)
										localStorage.setItem('driverPhone', res.data.driverPhone)
										window.location.href = 'web/index.html'
									} else {
										alert(res.msg)
									}
								}
							});
							return false;
						}
						if(this.state == 60 || this.state == '获取验证码') {
							this.code = Math.floor(Math.random() * 9000) + 1000;
							var that = this
							if(this.state != '验证码已发送') {
								Bmob.initialize("f7174458eab2fe581941c6a4aa56a0b7", "739d8351ef20781bb364acf69dee4772");
								Bmob.Sms.requestSms({
									"mobilePhoneNumber": that.phone,
									"content": "您的验证码是：" + that.code + ", 有效期是10分钟。"
								}).then(function(obj) {
									that.state = 60
									that.pwdshow = !that.pwdshow
									setInterval(function() {
										if(that.state > 1) {
											that.state = that.state - 1
										} else {
											that.state = '获取验证码'
										}
									}, 1000)
									that.phone02 = that.phone
								}, function(err) {
									if(err.code == 10010) {
										alert('验证码已达上限，请稍后重试')
									} else if(err.code == 301) {
										alert('手机号格式错误')
									} else {
										alert('错误信息' + err.message)
									}
								});
							}
						}
					},
					//					15162274025
					myajax: function() {
						var that = this
						if(this.phone != '') {
							if(this.pwd != '') {
								if(this.code == Math.floor(this.pwd)) {
									$.ajax({
										type: "get",
										url: localStorage.getItem('myurl') + "/queryLoginDriverByPhone",
										async: false,
										dataType: 'json',
										data: {
											driverPhone: that.phone
										},
										success: function(res) {
											if(res.status == '200') {
												localStorage.setItem('dirveid', res.data.driverId)
												localStorage.setItem('driverName', res.data.driverName)
												localStorage.setItem('driverPhone', res.data.driverPhone)
												window.location.href = 'web/index.html'
											} else {
												alert(res.msg)
											}
										}
									});
								} else {
									alert('验证码错误')
								}
							} else {
								alert('验证码不能为空')
							}
						} else {
							alert('手机号不能为空')
						}

					}
				}
			})
		</script>
	</body>

</html>